PORT=3000
NODE_ENV=development

MONGO_DATABASE="mongodb://<USER><PASSWORD>localhost:27017/BASE_DATOS?authSource=admin"
# Debe terminar en @
MONGO_PASSWORD="root@"
# Debe terminar en :
MONGO_USER="admin:"

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

SERVER_URL="localhost"