PORT=3000
NODE_ENV=development

MONGO_DATABASE="mongodb://<USER><PASSWORD>localhost:27017/BASE_DATOS?authSource=admin"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
# Debe terminar en @
MONGO_PASSWORD="root@"
# Debe terminar en :
MONGO_USER="admin:"

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

EMAIL_HOST='sandbox.smtp.mailtrap.io'
EMAIL_PORT=2525
EMAIL_USER="***"
EMAIL_PASS="***"
EMAIL_FROM="test@test.com"
SEND_EMAIL="YES"